.card{
    width: 100%;
    height: auto;
    transition: 0.5s;
    margin-bottom: 80px;
}

.card h3{
    font-family: "Lato",sans-serif;
    font-size: 150px;
    color:gold;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover{
    color: black;
    transform: scale(1.15);
}

.card h3:hover{
    color:black;
}

.card p{
    font-family: "Lato",sans-serif;
    color:#5b5b5b;
    text-align: justify;
    font-size: 17px;
    margin-top: 15px;
}