.w50{
    width:50%;
}

.mainBanner{
    width:100%;
    height:auto;
    padding: 5% 10%;
    font-family: 'Lato','-sans-serif';
    background:#FFD700;
    text-align: left;
}
.presentation{
    width:100%;
    padding-top: 3%;
    margin-top: 4%;
}
.presentation h2{
   text-transform: uppercase;
   font-family: 'Lato','-sans-serif';
   font-weight: 900;
   font-size: 2vw;
   
}
.tituloAEicones{
    display: flex;  
    width:100%;
    margin-bottom: -2.5vw;
}
.tituloA{
    width: 35%;
}
.tituloA h1{
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 900;
    color:white;
    text-shadow: 7px 7px black;
}
.icones{
    margin-top: 5%;
    margin-right:9%;
    width:50%;
}
.tituloB{
    width:100%;
    padding: 0;
}
.tituloB h1{
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 900;
    color:white;
    text-shadow: 7px 7px black;
    padding: 0;
}
.emailEParagrafoFinal{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.paragrafoFinal{
    text-align: justify;
    padding-right:2%;
    margin-top: 4%;
}
.paragrafoFinal p{
    font-family: 'Lato','-sans-serif';
    font-size: 1.4vw;
    font-style: italic;
}
.formularioEmail{
    margin:10% 0;
    text-align: center;
}

.formularioEmail h3{
    width:100%;
    font-size: 1.4vw;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.campoEmail{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color:#858181;
    background-color: white;
    font-family: "Lato",sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    text-transform: uppercase;
    height:4vw;
    width:90%;
}

.campoEmail:hover{
    border: 1.5px solid black;
    background-color: rgb(246, 243, 243);
    color:black;
}

.campoEmail.copied-success {
    background-color: rgb(5, 174, 5);
    color: white; 
    border: 1.8px solid black;
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(25%);
    transition: opacity 1s ease-in-out, transform 0.7s ease-in-out; 
  }
  
  .fade-in-bottom.active {
    opacity: 1;
    transform: translateY(0); 
  }

@media screen and (max-width:1024px){
    .w50{
        width: 100%;
    }
    .paragrafoFinal p, .campoEmail, .formularioEmail h3{
        margin-top: 1%;
        font-size: 3vw;
    }
    .presentation{
        margin-top: 14%;
    }
    .presentation h2{
        font-size: 2.5vw;
    }
    .campoEmail{
        height: 7vw;
    }
}

@media screen and (max-width:768px){
    .tituloA{
        width: 100%;
        margin-left:4%;
    }
    .tituloAEicones{
        text-align: center;
    }
    .icones{
        width: 0%;
    }
    .mainTitle{
        text-align: center;
    }
    .tituloA h1, .tituloB h1{
        text-shadow: 5px 5px black;
    }
    .presentation{
        text-align: center;
        margin-top: 14%;
    }
    .presentation h2{
        margin-right: 4%;
    }
}