.project{
    text-align: center;
    padding: 4% 0;
    transition: 0.5s;
    cursor: pointer;
    margin: 0% 2%;
}
.project:hover{
    transform: scale(1.05);
}
.project img{
    width: 70%;
    height:80%;
}

.project h3{
    color:black;
    text-transform: uppercase;
    font-family: 'Lato','sans-serif';
    font-size: 25px;
    font-weight: 900;
    margin: 2% 0;
}

.project h4{
    font-family: 'Lato','sans-serif';
    color:black;
    font-weight: 900;
    font-style: italic;
    margin: 2% 0;
    margin-left: 6%;
    text-align: center;
    width: 90%;
    padding: 0 10%;
    text-align: center;
}

.project p{
    font-family: 'Lato','sans-serif';
    color:#5b5b5b;
    margin: 2% 0;
    margin-left: 6%;
    text-align: center;
    width: 90%;
}