.centerSkill{
    max-width: 1280px;
    padding: 1% 3%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4%;
}

.w33{
    width: 33.3%;
    text-align: center;
    height: auto;
    padding: 0 5%;
}

.bannerSkills{
    background-color:#f6f2f2;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0;
    text-align: center;
}

.bannerSkills h2{
    font-family: 'Lato','sans-serif';
    font-size: 3.2vw;
    margin-top: 5%;
    width: 100%;
}

@media screen and (max-width:1024px){
    .w33{
        width:50%;
        padding: 0 7%;
    }
}

@media screen and (max-width:768px){
    .w33{
        width: 99%;
        margin-bottom: 1px;
    }
}